.outer-shadow {
    --outer-shadow: 3px 3px 3px #090909, -3px -3px 3px #090909;
    box-shadow: var(--outer-shadow);
}

.inner-shadow {
    --inner-shadow: inset 3px 3px 3px #090909, inset -3px -3px 3px #090909;
    box-shadow: var(--inner-shadow);
}